*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:url("https://economictimes.indiatimes.com/thumb/msid-88607879,width-1200,height-900,resizemode-4,imgsize-55812/education.jpg?from=mdr");
    background-repeat: no-repeat;
    background-image: linear-gradient(0,0,0,0.5);
    height: 100vh;
    background-size: cover;
    
}
.SlideIn{
    position: absolute;
    top:15%;
    left:10%;
    animation: Slide 2.5s;
    animation-direction: reverse;
}
.cont{
    position: absolute;
    top:30%;
    left:20%;
}
.cont ul li{
    color:white;
    font-size: 20px;
    margin-top: 20px;
}
span{
    color:rgb(251, 45, 200);
}
.SlideIn p{
    font-size: 30px;
    color:white;
}
@keyframes Slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(200px);
    }
}
@media screen and (min-width:1200px){
    .smallcont{
        display: none;
    }
}

@media screen and (max-width:1200px){
    .cont{
        display: none;
    }
    .smallcont{
        display: flex;
    }
    .smallcont ul li{
        color:white;
    font-size: 15px;
    margin-top: 15px;
    }
    .smallcont{
        position: absolute;
        top:30%;
        left:20%;
    }
}